body, html{
	margin: 0;
	padding:0;
}

#wrapper{
	height:90%;
	width:100%;
	position: absolute;
	bottom: 0;
}


.box{
	position: relative;
	float: left;
	border: solid black 1px;
}

.break{
	width: 0px;
	height: 0px;
}

#console{
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: blue;
}

#reset{
	position: relative;
	display: block;
	margin: 35px auto;
}
